<div class="top-container">
  <div class="side-barre">
    <div class="titles">
      <h1 class="site-title">Mini-<span>Slack</span></h1>
      <h2 class="channel-title">CHANNELS</h2>
    </div>
    <div class="channels" *ngFor="let thread of threads">
      <div class="buttonContainer">
        <button class="buttonDelete" (click)="deleteThread(thread.id)">
          X
        </button>
        <button class="thread" (click)="selectThread(thread)">
          {{ thread.label }}
        </button>
      </div>
    </div>
    <div class="add-thread">
      <input
        type="text"
        [(ngModel)]="threadLabel"
        maxlength="30"
        (keyup.enter)="this.sendThread()"
        placeholder="Nouveau channel"
      />
      <button [disabled]="!this.threadLabel" (click)="sendThread()">
        Nouveau Thread
      </button>
    </div>
  </div>
  <div class="messageList">
    <div *ngFor="let message of messages">
      <app-messages [message]="message"></app-messages>
      <button class="buttonDelete" (click)="deleteMessage(message.id)">
        X
      </button>
    </div>
  </div>
</div>
<form>
  <input
    type="text"
    name="message"
    [(ngModel)]="this.message"
    (keyup.enter)="this.sendMessage()"
    maxlength="2000"
    placeholder="Entrez votre message..."
  />
  <button (click)="this.sendMessage()" [disabled]="!this.message">
    Envoyer
  </button>
</form>
