<div class="top-container">
  <div class="side-barre">
    <div class="titles">
      <h1 class="site-title">Mini-<span>Slack</span></h1>
      <h2 class="channel-title">CHANNELS</h2>
    </div>
    <div class="side" *ngFor="let thread of threads">
      <button class="thread" (click)="selectThread(thread)">
        {{ thread.label }}
      </button>
    </div>
  </div>
  <div class="messageList">
    <div *ngFor="let message of messages">
      <app-messages [message]="message"></app-messages>
      <button class="buttonDelete" (click)="deleteMessage(message.id)">
        X
      </button>
    </div>
  </div>
</div>
<form>
  <label for="message">Message :</label>
  <input
    type="text"
    name="message"
    [(ngModel)]="this.message"
    maxlength="2000"
  />
  <button (click)="this.sendMessage()" [disabled]="!this.message">
    Envoyer
  </button>
</form>
