.messageAuthor {
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.messageContent {
  font-size: 14px;
  color: grey;
  overflow-wrap: break-word;
  max-width: 100%;
  padding-right: 10px;
}

.messageDate {
  font-size: 12px;
  color: #888;
  text-align: right;
}
