@font-face {
  font-family: "Winston SemiBold";
  src: url("./assets/polices/mulinito.semibold.ttf") format("woff");
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: #2d2d2d;
  font-family: "Winston SemiBold", sans-serif;
}
